
@if( currentUser$() ){
    <div class="container-fluid container-color">
        <div class="py-5">
            <h1 class="h1-admin-title text-center">Account Dashboard</h1>

            <app-user-account-details [currentUser]="currentUser$()"></app-user-account-details>

            <app-user-account-current-direct-debits
              [currentUser]="currentUser$()"
            >
            </app-user-account-current-direct-debits>

            <app-user-bank-account [currentUser]="currentUser$()"></app-user-bank-account>

            <app-action-summary></app-action-summary>

            <app-user-account-cc-amex [currentAmex]="[]"></app-user-account-cc-amex>

            <button class="my-3" color="accent" mat-raised-button [disabled]="!currentUser$()" (click)="signOut()">Sign Out</button>

        </div>
    </div>
}
