/* You can add global styles to this file, and also import other style files */
$font-family: "Plus Jakarta Sans", sans-serif;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin title($font_weight, $font_style, $color, $font_size, $letter_spacing, $line_height, $max-width) {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: $font_weight;
  font-style: $font_style;
  color: $color;
  font-size: $font_size;
  letter-spacing: $letter_spacing;
  line-height: $line_height;
  max-width: $max-width;
}
